/*
Author: Connor Oaks
Description: Global styles not specific to one page.
 */

body{
    background: mediumpurple;
}

fieldset {
    margin-top: 10px;
    border-color: yellow;
    background-color: #fff0f5;
}

fieldset > * {
    font-family: Arial;
}

form > label {
    margin-left: 15px;
}