/*
Author: Connor Oaks
Description: Global styles not specific to one page.
 */

body{
    background: mediumpurple;
}

#headerButton{
  list-style: none;
  position: relative;
  margin-left:650px;
}
#headerButton a{
  text-decoration: none;
  background: lightgrey;
  width: 200px;
  height: 25px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  background: #fff0f5;
}


fieldset {
    margin-top: 10px;
    border-color: yellow;
    background-color: #fff0f5;
}

fieldset > * {
    font-family: Arial;
}

form > label {
    margin-left: 15px;
}