body{
    background:
          linear-gradient(red, transparent),
          linear-gradient(to top left, lime, transparent),
          linear-gradient(to top right, blue, transparent);
      background-blend-mode: screen;
}
#maindiv {
  width: 500px;
  height: 500px;
  border: 0px solid black;
  padding: 65px;
  margin: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom:40px;

  background:
        linear-gradient(black, transparent),
        linear-gradient(to top left, gray, transparent),
        linear-gradient(to bottom right, silver, transparent);
    background-blend-mode: screen;
}

img{
  width:390px;
  height:100px;
  margin-left:60px;
  margin-top:60px;
}

h1{
  margin-left:215px;
  font-size:30px;
  color:white;
  margin-top:70px;
  font-weight:normal;
}

#usernameP{
  margin-top:20px;
  margin-left:150px;
  color:white;
  font-size:18px;
  margin-bottom:3px;
}
#username{
  content: "username";
  margin-left:150px;
  margin-bottom:10px;
  width:200px;
  height:20px;
}
#passwordP{
  margin-top:5px;
  margin-left:150px;
  color:white;
  font-size:18px;
  margin-bottom:3px;
}
#password{
  content: "username";
  margin-left:150px;
  margin-bottom:10px;
  width:200px;
  height:20px;
}

#loginButton{
  width:70px;
  margin-left:287px;
  margin-bottom:20px;
  background:white;
}

#coursedropdown{
  margin-left:190px;
}


