body{
  background: mediumpurple;
}

#syllabus {
  margin: auto;
  width: 65%;
  background-color: snow;
  box-shadow: 0 0 20px 5px;
  padding-bottom: 10px;
}

#syllabus > * {
  font-family: Arial;
}

#syllabus > h1 {
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
}
#syllabus > h2 {
  margin-left: 10px;
}
#syllabus > p {
  margin-left: 25px;
}
