<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Admin UI</title>
    <meta charset="utf-8">
    <meta name="author" content="Dakito Dasho">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/admin.css" %}"/>
    <link rel="stylesheet" href="{% static "styles/global.css" %}"/>
</head>
<body>
<table width="100%" height="250%" align="center" border="1">
      <tr>
          <th colspan="7" style="background-color: Lavender; font-size:30px" height="40">Courses</th>
      </tr>
      <tr align="center" style="background-color: Lavender; font-size:30px" height="40">
          <td style="width:15px">Course Name</td>
          <td style="width:1px">Instructor</td>
          <td style="width:60px">Sections</td>
      </tr>
      {% for i in course_info %}
          <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
              <td>{{ i.name }}</td>
              <td>
                  {{ i.instructor.lastName }}, {{ i.instructor.firstName }}<br>
                  {{ i.instructor.email }}<br>
                  {{ i.instructor.phoneNumber }}
              </td>
              <td>
                  {% for j in i.sections %}
                      {{ j }}<br>
                  {% endfor %}
              </td>
          </tr>
      {% endfor %}
    </table><br><br>
    <fieldset>
        <h1>Create user:</h1>
        <form method="post" action="/Administrator/">
            {% csrf_token %}
            <label for="firstName">First name: </label>
            <input type="text" name="firstName">
            <label for="lastName" id="lastNameLabel">Last name: </label>
            <input type="text" name="lastName"><br><br>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required autofocus>
            <label for="password" id="passwordLabel">Password: </label>
            <input type="password" name="password" id="password" required autofocus><br><br>
            <label for="type">User type: </label>
            <select name="type">
                <option value="I">Instructor</option>
                <option value="T">TA</option>
            </select>
            <br><br>
            <input type="submit" name="create_user" id="create_user_button" value="Create user">
        </form>
    </fieldset>
    <fieldset>
        <h1>Add course: </h1>
        <form method="post" action="/Administrator/">
            {% csrf_token %}
            <label for="courseName">Course name: </label>
            <input type="text" name="course_name" id="courseName">
            <label for="instructor" id="instructorDropDown">Instructor: </label>
            <select name="instructor" id="instructor">
                {% for i in instructors %}
                    <option value="{{ i.id }}">{{ i.lastName }}, {{ i.firstName }}</option>
                {% endfor %}
            </select><br><br><br>
            <input type="submit" name="create_course" value="Create course">
        </form>
    </fieldset>
    <fieldset>
        <h1>Add section: </h1>
        <form method="post" action="/Administrator/">
            {% csrf_token %}
            <label for="sectionNumber">Section number: </label>
            <input type="number" name="section_number" id="sectionNumber">
            <label for="sectionDescription">Description: </label>
            <input type="text" name="description" id="sectionDescription"><br><br>
            <label for="course">Course: </label>
            <select name="course" id="course">
                {% for i in courses %}
                    <option value="{{ i.id }}">{{ i.courseName }}</option>
                {% endfor %}
            </select>
            <label for="TA" id="taDropDown">Teaching assistant: </label>
            <select name="teaching_assistant" id="TA">
                {% for i in tas %}
                    <option value="{{ i.id }}">{{ i.lastName }}, {{ i.firstName }}</option>
                {% endfor %}
            </select><br><br><br>
            <input type="submit" name="create_section" value="Create section">
        </form>
    </fieldset>
</body>
<footer>
    <div style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center">
        Form made by Semicolons
    </div>
</footer>
</html>