<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Admin UI</title>
    <meta charset="utf-8">
    <meta name="author" content="Dakito Dasho">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/admin.css" %}" />
  </head>
  <body>
    <table width="100%" height="250%" align="center" border="1">
      <tr>
        <th colspan="7" style="background-color: Lavender; font-size:30px" height="40" >Courses</th>
      </tr>
      <tr align="center" style="background-color: Lavender; font-size:30px" height="40">
        <td style="width:15px">Course Name</td>
        <td style="width:1px">Instructor</td>
        <td style="width:60px">TA</td>
        <td style="width:25px">Course Subject</td>
      </tr>
      {% for i in user_info %}
             <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
                 <td>{{ i.firstName }}</td>
                 <td>{{ i.lastName }}</td>
             </tr>
         {% endfor %}
    </table>
    <div>
     <table>
         <tr>
              <th>{{ name }}</th>
              </tr>
            {% for x in details %}
             <tr>
                  <td>{{ x.username }}</td>
            </tr>
        {% endfor %}
    </table>


     </div>
    <h1>Create user:</h1><br>
      <form method="post" action="/administrator/">
          {% csrf_token %}
         <label for="firstName">First name: </label>
         <input type="text" name="firstName"><br>
         <label for="lastName">Last name: </label>
         <input type="text" name="lastName"><br>
          <label for="username">Username: </label>
          <input type="text" name="username" id="username"  required autofocus><br>
          <label for="password">Password: </label>
          <input type="password" name="password" id="password"  required autofocus><br><br>
         <label for="type">User type: </label>
          <select name="type">
              <option value="I">Instructor</option>
              <option value="TA">TA</option>
          </select><br>
         <label for="syllabus">Course: </label>
          <select name="syllabus">
              {% for i in syllabi %}
                 <option value="{{ i.id }}">{{ i.courseName }}</option>
              {% endfor %}
          </select>
          <input type="submit" id="loginButton" value="Create user">
      </form>

   </body>
   <footer>
    <div style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center">
      Form made by Semicolons</div>
  </footer>
</html>
