<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin UI</title>
    <meta charset="utf-8">
    <meta name="author" content="Dakito Dasho">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css" />
  </head>
  <body>
    <table width="100%" height="250%" align="center" border="1">
      <tr>
        <th colspan="7" style="background-color: Lavender; font-size:30px" height="40" >Courses</th>
      </tr>
      <tr align="center" style="background-color: Lavender; font-size:30px" height="40">
        <td style="width:15px">Course Name</td>
        <td style="width:1px">Instructor</td>
        <td style="width:60px">TA</td>
        <td style="width:25px">Course Subject</td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td id="cell1"></td>
        <td id="cell2"></td>
        <td id="cell3"></td>
        <td id="cell4"></td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr align="center" height="40" style="background-color: Ivory; font-size:30px">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
  <footer>
    <div style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center">
      Form made by Semicolons</div>
  </footer>
</html>
