<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login page</title>
    <meta charset="utf-8">
    <meta name="author" content="Dakito Dasho">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div id="maindiv">
      <img src="uwm_logo.png" alt="UWM" title="uwm_logo">
      <h1>Login</h1>
      <p id="usernameP">Username:</p>
      <label for="name" id="label1"></label>
            <input type="text" name="name" id="username"  required autofocus><br>
      <p id="passwordP">Password:</p>
      <label for="name" id="label2"></label>
            <input type="text" name="name" id="password"  required autofocus><br><br>
      <button type="button" id="loginButton">login</button>
    </div>
  </body>
</html>
