<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Admin UI</title>
    <meta charset="utf-8">
    <meta name="author" content="Dakito Dasho">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/syllabus.css" %}" />
  </head>
  <body>
    <h1>{{ syllabus.courseName }}</h1><br><br>
    <h2>{{ instructor.firstName }} {{ instructor.lastName }}</h2><br>
    <h3>Email: {{ instructor.email }}</h3><br>
    <h3>Phone: {{ instructor.phoneNumber }}</h3><br>
    <h3>Office hours: {{ instructor.officeHours }}, {{ instructor.officeNumber }}</h3><br><br>
    <h2>Course description:</h2><br>
    <p>{{ syllabus.courseDescription }}</p><br<br>
    {% for i in components %}
        <h2>{{ i.name }}</h2><br>
        <p>{{ i.description }}</p>
    {% endfor %}
  </body>
  <footer>
    <div style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center">
      Form made by Semicolons</div>
  </footer>
</html>
