<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>{{ syllabus.courseName }} Course Syllabus</title>
    <meta charset="utf-8">
    <meta name="author" content="Dakito Dasho">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/syllabus.css" %}" />
  </head>
  <body>
    <h1>{{ syllabus.courseName }} Course Syllabus</h1><br><br>
    <h2>{{ instructor.firstName }} {{ instructor.lastName }}</h2>
    <h3>Email: {{ instructor.email }}</h3>
    <h3>Phone: {{ instructor.phoneNumber }}</h3>
    <h3>Office hours: {{ instructor.officeHours }}, {{ instructor.officeNumber }}</h3><br>
    <h2>Course description:</h2>
    <p>{{ syllabus.courseDescription }}</p><br>
    <h2>Sections: </h2>
    {% for i in sections %}
        <p>{{ i.sectionNumber }}, {{ i.teachingAssistant.firstName }} {{ i.teachingAssistant.lastName }}</p>
    {% endfor %}<br>
    {% for i in components %}
        <h2>{{ i.name }}</h2>
        <p>{{ i.content }}</p>
    {% endfor %}
  </body>
  <footer>
    <div style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center">
      Form made by Semicolons</div>
  </footer>
</html>
