<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>UI Page 2</title>
    <meta charset="utf-8">
    <meta name="author" content="Dakito Dasho">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/page2.css" %}" />
  </head>
  <body>
    <header>
        <h1 align="center">Course Creation Form</h1>
    </header>
    <form method="post" action="/">
        {% csrf_token %}
    <hr>
      <section>
        <form id="name" method="post" action="">
          <fieldset>
            <br><label for="name" id="label1">Instructor</label>
                  <input type="text" name="instructorText" id="instructorText"  required autofocus>
            <label for="name" id="label2">TA</label>
                  <input type="text" name="TA_text" id="TA_text"  required autofocus><br><br>

            <h2>Grading Scale</h2>
            <label for="name" id="label3">A </label>
                  <input type="text" name="gradeA" id="gradeA"  required autofocus>
            <label for="name" id="label4">A-</label>
                  <input type="text" name="gradeA-" id="gradeA-"  required autofocus>
            <label for="name" id="label5">B+</label>
                  <input type="text" name="gradeB+" id="gradeB+"  required autofocus>
            <label for="name" id="label6">B</label>
                  <input type="text" name="gradeB" id="gradeB"  required autofocus><br><br>

            <label for="name" id="label3">B-</label>
                  <input type="text" name="gradeB-" id="gradeB-"  required autofocus>
            <label for="name" id="label4">C+</label>
                  <input type="text" name="gradeC+" id="gradeC+"  required autofocus>
            <label for="name" id="label5">C</label>
                  <input type="text" name="gradeC" id="gradeC"  required autofocus>
            <label for="name" id="label6">C-</label>
                  <input type="text" name="gradeC-" id="gradeC-"  required autofocus><br><br>

            <label for="name" id="label3">D+</label>
                  <input type="text" name="gradeD+" id="gradeD+"  required autofocus>
            <label for="name" id="label4">D</label>
                  <input type="text" name="gradeD" id="gradeD"  required autofocus>
            <label for="name" id="label5">D-</label>
                  <input type="text" name="gradeD-" id="gradeD-"  required autofocus>
            <label for="name" id="label6">F</label>
                  <input type="text" name="gradeF" id="gradeF"  required autofocus><br>

            <h2>Weighted Assesments</h2>
            <h4 id="l">Labs</h4>
            <h4 id="a">Assignments</h4>
            <h4 id=q>Quizes</h4><br>
            <label for="labs" id="text1"></label>
                  <textarea id="labsText" name="labTextArea"  rows="6" cols="50" onclick="this.value=''">Labs</textarea>
            <label for="assignments" id="text2"></label>
                  <textarea id="assignmentsText" name="assignmentTextArea"  rows="6" cols="50" onclick="this.value=''">Assignments</textarea>
            <label for="quizes" id="text3"></label>
                  <textarea id="quizText" name="quizeTextArea"  rows="6" cols="50" onclick="this.value=''">Quizes</textarea>

            <h2>Calendar</h2>
            <label for="name"></label>
            <label for="name" id="label7">Week 1:</label>
                  <input type="text" name="week1" id="week1"  required autofocus>
            <label for="name" id="label8">Week 9:</label>
                  <input type="text" name="week9" id="week9"  required autofocus><br><br>

            <label for="name" id="label7">Week 2:</label>
                  <input type="text" name="week2" id="week2"  required autofocus>
            <label for="name" id="label8">Week 10:</label>
                  <input type="text" name="week10" id="week10"  required autofocus><br><br>

            <label for="name" id="label7">Week 3:</label>
                  <input type="text" name="week3" id="week3"  required autofocus>
            <label for="name" id="label8">Week 11:</label>
                  <input type="text" name="week11" id="week11"  required autofocus><br><br>

            <label for="name" id="label7">Week 4:</label>
                  <input type="text" name="week4" id="week4"  required autofocus>
            <label for="name" id="label8">Week 12:</label>
                  <input type="text" name="week12" id="week12"  required autofocus><br><br>

            <label for="name" id="label7">Week 5:</label>
                  <input type="text" name="week5" id="week5"  required autofocus>
            <label for="name" id="label8">Week 13:</label>
                  <input type="text" name="week13" id="week13"  required autofocus><br><br>

            <label for="name" id="label7">Week 6:</label>
                  <input type="text" name="week6" id="week6"  required autofocus>
            <label for="name" id="label8">Week 14:</label>
                  <input type="text" name="week14" id="week14"  required autofocus><br><br>

            <label for="name" id="label7">Week 7:</label>
                  <input type="text" name="week7" id="week7"  required autofocus>
            <label for="name" id="label8">Week 15:</label>
                  <input type="text" name="week15" id="week15"  required autofocus><br><br>

            <label for="name" id="label7">Week 8:</label>
                  <input type="text" name="week8" id="week8"  required autofocus>
            <label for="name" id="label8">Week 16:</label>
                  <input type="text" name="week16" id="week16"  required autofocus><br><br>

            <br><label for="year" id="dropdown"></label>
                  <select name="courseDropdown" id="courseDropdown" style="width:250px">
                      <option value="selectDropdown">Select Component</option>
                      <option value="component1">1</option>
                      <option value="component2">2</option>
                      <option value="component3">3</option>
                      <option value="component4">4</option>
                  </select>
            <button type="button" id="addComponents">Add Component</button>
            <button type="button" id="createComponent">Create Component</button>
          </fieldset><br><br>
          <button type="button" id="cancelButton">Cancel</button>
          <button type="button" id="saveButton">Save</button><br><br>
        </form>
      </section>
  </body><br>
  <footer>
    <div style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center">
      Form made by Semicolons</div>
  </footer>

</html>