<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>UI Page 1</title>
    <meta charset="utf-8">
    <meta name="author" content="Dakito Dasho">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/page1.css" %}" />
  </head>
  <body>
    <header>
        <h1 align="center">Course Staff Form</h1>
    </header>
    <fieldset style="border-color:yellow; background-color:#fff0f5">
     <h2>Personal Information</h2>
        <p>First Name     :{{ user_info.firstName }}   ||   Last Name      :{{ user_info.lastName }}</p>
        <p>Office Hours   :{{ user_info.officeHours }}    ||    Office Number  :{{ user_info.officeNumber}}</p>
        <p>Email          :{{ user_info.email }}    ||    Phone Number   :{{ user_info.phoneNumber}}</p>
        <p>Course         :{{ user_info.syllabus.courseName }}  ||  Syllabus       :{{ user_info.syllabus.assignmentWeight }}</p>
    </fieldset>
    <form method="post" action="/PersonalInfo/">
        {% csrf_token %}
    <hr>
      <section>
{#        <form id="name" method="post" action="">#}
            <fieldset style="border-color:yellow; background-color:#fff0f5">
              <h2>Contact Information</h2>
              <label for="email" id="label1">Email:</label>
                    <input type="text" multiple name="email" id="email" required maxlength="30">
              <label for="phone" id="label3">Phone #:</label>
                    <input type="text" multiple name="phoneNumber" id="phoneNumber" required maxlength="30"><br><br>
            </fieldset><br>
            <fieldset style="border-color:yellow; background-color:#fff0f5">
              <div id="all">
                <h2 id="officeh2">Office Hours</h2>
                  <label for="officeHours" id="label1">Office Hour :</label>
                    <input type="text" multiple name="officeHours" id="officeHour" required maxlength="30">
                  <label for="officeNumber" id="label3">Phone #:</label>
                    <input type="text" multiple name="officeNumber" id="officeNumber" required maxlength="30"><br><br>
{#                <div id="officeHours">#}
{##}
{#                  <label for="age"></label>#}
{#                          <input type="checkbox" name="mondayCheckbox" value="mondayCheckbox" id="mondayCheckbox" checked><label for="checkbox">M</label><br>#}
{#                          <input type="checkbox" name="tuesdayCheckbox" value="tuesdayCheckbox" id="tuesdayCheckbox"><label for="checkbox">T</label><br>#}
{#                          <input type="checkbox" name="wednesdayCheckbox" value="wednesdayCheckbox" id="wednesdayCheckbox" checked><label for="checkbox">W</label><br>#}
{#                          <input type="checkbox" name="thursdayCheckbox" value="thursdayCheckbox" id="thursdayCheckbox"><label for="checkbox">TR</label><br>#}
{#                          <input type="checkbox" name="fridayCheckbox" value="fridayCheckbox" id="fridayCheckbox" checked><label for="checkbox">F</label><br><br>#}
{#                </div>#}
{#                <div id="Time">#}
{#                  <label for="name"> Start Time:</label>#}
{#                        <input type="text" name="startTime" id="startTime"  required autofocus>#}
{#                  <label for="name" id="room"> Room #:</label>#}
{#                        <input type="number" multiple name="roomNumber" required maxlength="30"><br>#}
{#                  <label for="AM/PM"></label><br>#}
{#                        <input type="radio" name="AM/PM1" value="AM/PM1" id="AM" checked><label for="AM/PM">AM</label>#}
{#                        <input type="radio" name="AM/PM1" value="AM/PM1" id="PM"><label for="AM/PM">PM</label>#}
{#                  <label for="name" id="virtual"> Virtual:</label>#}
{#                        <input type="text" name="name" required autofocus><br><br>#}
{##}
{#                  <label for="name"> End Time:</label>#}
{#                        <input type="text" name="name" id="endTime"  required autofocus>#}
{#                  <label for="AM/PM"></label><br><br>#}
{#                        <input type="radio" name="AM/PM2" value="AM/PM2" id="AM" checked><label for="AM/PM">AM</label>#}
{#                        <input type="radio" name="AM/PM2" value="AM/PM2" id="PM"><label for="AM/PM">PM</label>#}
{#                </div>#}
              </div>
            </fieldset><br>
{#            <fieldset>#}
{#              <h2>Role</h2>#}
{#              <label for="choseRole"></label>#}
{#                    <input type="radio" name="chooseInstructor" value="chooseInstructor" id="Instructor" checked><label for="chooseRole">Instructor</label>#}
{#                    <input type="radio" name="chooseTA" value="chooseTA" id="TA"><label for="chooseRole">TA</label>#}
{#              <label for="year" id="courseDropdown">School Standing:</label>#}
{#                    <select name="courseDropdown">#}
{#                      <option value="selectDropdown">Select One Below</option>#}
{#                      <option value="class1">CS 361</option>#}
{#                      <option value="class2">EE 458</option>#}
{#                      <option value="class3">CS 535</option>#}
{#                      <option value="class4">CS 351</option>#}
{#                    </select>#}
{#            </fieldset><br><br>#}
{#            <button type="button" id="cancelButton">Cancel</button>#}
{#            <button type="button" id="saveButton">Save</button><br><br>#}
{#        </form>#}
          <input type="submit" id="submit" value="user details">
      </section>
    </form>
  </body>

  <footer>
    <div style="position:fixed;bottom:0;height:auto;margin-top:40px;width:100%;text-align:center">
      Form made by Semicolons</div>
  </footer>

</html>
